{% extends 'base.html' %}

 {% block footer %}

   
    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>





      <!-- this -->

      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('https://www.youtube.com/watch?v=bz2zY2NX_iY');background-size: cover;">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>About Us</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
            <img src="static/images/hero_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto">
            <h2>Car Company</h2>
            <p>We are the second largest automobile manufacturer in India. We are among the top four vehicle brands in India. The company's products include buses, trucks, coaches, commercial vehicles and cars.</p>
            <p>We holds about 53% of the market share in the Indian passenger car market</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-primary">Our Team</span>
            <h2 class="mb-4">Meet Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="static/images/person_1.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>Joseph Alen</h2>
                <p>He is the founder of this car rental business.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="static/images/person_2.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Non Executive Director</span>
                <h2>Julie Fernandez</h2>
                <p>She is the Non Executive Director of this car rental business.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="static/images/person_3.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Co. Secretary & Compl. Officer</span>
                <h2>Marry Walker</h2>
                <p>She is the Co. Secretary & Compl. Officer of this car rental business.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="static/images/person_4.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta"> Chairman & Non-Exe.Director</span>
                <h2>Christopher Robert</h2>
                <p>He is the Chairman & Non-Exe.Director of this car rental business.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="static/images/person_5.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Group Chief Financial Officer</span>
                <h2>Alina Zukerberg</h2>
                <p>She is the Group Chief Financial Officer of this car rental business.</p>
              </div>
            </div>
          </div>

      
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="static/images/hero_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto">
            <h2>Our History</h2>
            <p>We are founded in 2008.We offer a broad portfolio of automotive products, ranging from sub-1 ton to 49 ton GVW, trucks (including pickup trucks) to small,  medium, and large buses and coaches to passenger cars, including the world’s most affordable car—the Tata Nano, premium luxury cars and SUVs.</p>
          </div>
        </div>
      </div>
    </div>

      
    {% endblock footer %}
      
  